# Bỏ qua thư mục môi trường ảo Python
venv/
.venv/
env/

# Bỏ qua các tệp bộ nhớ tạm của Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bỏ qua cấu hình riêng của các Trình soạn thảo (IDE)
.vscode/
.idea/

# Bỏ qua tệp biến môi trường
.env